.header__container {
  display: flex;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: calc(100% - 103px);
}

@media(max-width: 590px) {
  .header__container {
    flex-direction: column;
  }
}