.profile__edit {
  box-sizing: border-box;
  padding: 11px;
  border: 1px solid #FFF;
  background-image: url('../../../images/edit-button.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  align-self: center;
}

@media (max-width: 705px) {
  .profile__edit {
    background-size: 7.5px 7.5px;
    padding: 8px;
  }
}
