.cards__button {
  border: 0;
  padding: 0;
  background-color: inherit;
  width: 22px;
  min-height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 19px;
  margin-bottom: 3px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.cards__button:hover {
  opacity: .5;
}
