.page__header {
  max-width: 880px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media (max-width: 976px) {
  .page__header {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 800px) {
  .page__header {
    max-width: calc(100% - 64px);
  }
}

@media (max-width: 590px) {
  .page__header {
    max-width: 100%;
    margin: 0 auto 42px;
  }
}
