@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__section/page__section.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__profile/page__profile.css);
@import url(./blocks/page/__cards/page__cards.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/logo/logo.css);

@import url(./blocks/link/link.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__image-edit/profile__image-edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__desc/profile__desc.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__button/profile__button.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__delete/cards__delete.css);
@import url(./blocks/cards/__delete/_visibile/cards__delete_visible.css);
@import url(./blocks/cards/__list/cards__list.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__desc/cards__desc.css);
@import url(./blocks/cards/__subtitle/cards__subtitle.css);
@import url(./blocks/cards/__container-likes/cards__container-likes.css);
@import url(./blocks/cards/__sum-likes/cards__sum-likes.css);
@import url(./blocks/cards/__button/cards__button.css);
@import url(./blocks/cards/__button/_active/cards__button_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_new-card.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_type/popup_type_delete.css);
@import url(./blocks/popup/_type/popup_type_edit-avatar.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_transparent/popup__container_transparent.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/_type/form_type_add.css);
@import url(./blocks/form/_type/form_type_edit.css);
@import url(./blocks/form/_type/form_type_delete.css);
@import url(./blocks/form/_type/form_type_edit-avatar.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_place/form__title_place_delete.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__item/_type/form__item_type_name.css);
@import url(./blocks/form/__item/_type/form__item_type_desc.css);
@import url(./blocks/form/__item/_type/form__item_type_image-subtitle.css);
@import url(./blocks/form/__item/_type/form__item_type_image-link.css);
@import url(./blocks/form/__item/_state/form__item_state_invalid.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_disabled/form__button_disabled.css);
@import url(./blocks/form/__button/_place/form__button_place_new-card.css);
@import url(./blocks/form/__button/_place/form__button_place_delete.css);

@import url(./blocks/name-profile-error/name-profile-error.css);
@import url(./blocks/desc-profile-error/desc-profile-error.css);
@import url(./blocks/image-subtitle-error/image-subtitle-error.css);
@import url(./blocks/image-link-error/image-link-error.css);