.form {
  box-sizing: border-box;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width:590px) {
  .form {
    padding: 25px 22px;
  }
}
